body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1145px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
  background:inherit;
  background-color:rgba(138, 134, 129, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:16px;
  top:21px;
  width:38px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:592px;
}
#u30 {
  position:absolute;
  left:0px;
  top:123px;
  width:1145px;
  height:592px;
}
#u31 {
  position:absolute;
  left:2px;
  top:288px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3DB9C2;
  text-align:left;
}
#u32 {
  position:absolute;
  left:65px;
  top:235px;
  width:276px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3DB9C2;
  text-align:left;
}
#u33 {
  position:absolute;
  left:2px;
  top:15px;
  width:272px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u34 {
  position:absolute;
  left:65px;
  top:271px;
  width:247px;
  height:32px;
  font-size:12px;
  text-align:left;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:243px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1127px;
  height:121px;
}
#u37 {
  position:absolute;
  left:0px;
  top:2px;
  width:1127px;
  height:121px;
}
#u38 {
  position:absolute;
  left:2px;
  top:52px;
  width:1123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:44px;
  background:inherit;
  background-color:rgba(20, 201, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:762px;
  top:54px;
  width:115px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:0px;
  top:11px;
  width:115px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u41 {
  position:absolute;
  left:355px;
  top:11px;
  width:61px;
  height:24px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:45px;
  background:inherit;
  background-color:rgba(254, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:913px;
  top:53px;
  width:146px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
