body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1031px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:457px;
}
#u691 {
  position:absolute;
  left:11px;
  top:41px;
  width:1020px;
  height:457px;
}
#u692 {
  position:absolute;
  left:2px;
  top:220px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:2px;
}
#u693 {
  position:absolute;
  left:6px;
  top:25px;
  width:733px;
  height:1px;
}
#u694 {
  position:absolute;
  left:2px;
  top:-8px;
  width:729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u695 {
  position:absolute;
  left:13px;
  top:7px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
