body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4794 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:541px;
}
#u4795 {
  position:absolute;
  left:2px;
  top:262px;
  width:912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4796 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:32px;
}
#u4797 {
  position:absolute;
  left:2px;
  top:8px;
  width:912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4798 {
  position:absolute;
  left:894px;
  top:8px;
  width:16px;
  height:16px;
}
#u4799 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4800 {
  position:absolute;
  left:12px;
  top:5px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4801 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2px;
}
#u4802 {
  position:absolute;
  left:12px;
  top:31px;
  width:639px;
  height:1px;
}
#u4803 {
  position:absolute;
  left:2px;
  top:-8px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4804 {
  position:absolute;
  left:32px;
  top:58px;
  width:93px;
  height:15px;
  font-size:12px;
}
#u4805 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u4806 {
  position:absolute;
  left:159px;
  top:58px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u4807 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u4808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u4808 {
  position:absolute;
  left:12px;
  top:57px;
  width:16px;
  height:15px;
}
#u4809 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4810 {
  position:absolute;
  left:32px;
  top:83px;
  width:93px;
  height:15px;
  font-size:12px;
}
#u4811 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u4812 {
  position:absolute;
  left:12px;
  top:82px;
  width:16px;
  height:15px;
}
#u4813 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4814 {
  position:absolute;
  left:32px;
  top:108px;
  width:93px;
  height:15px;
  font-size:12px;
}
#u4815 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u4816 {
  position:absolute;
  left:12px;
  top:107px;
  width:16px;
  height:15px;
}
#u4817 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4818 {
  position:absolute;
  left:32px;
  top:134px;
  width:93px;
  height:15px;
  font-size:12px;
}
#u4819 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u4820 {
  position:absolute;
  left:12px;
  top:133px;
  width:16px;
  height:15px;
}
#u4821 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4822 {
  position:absolute;
  left:32px;
  top:160px;
  width:93px;
  height:15px;
  font-size:12px;
}
#u4823 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u4824 {
  position:absolute;
  left:12px;
  top:159px;
  width:16px;
  height:15px;
}
#u4825 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4826 {
  position:absolute;
  left:12px;
  top:33px;
  width:905px;
  height:29px;
}
#u4827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u4827 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4828 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u4829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u4829 {
  position:absolute;
  left:121px;
  top:0px;
  width:57px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4830 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u4831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u4831 {
  position:absolute;
  left:178px;
  top:0px;
  width:66px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4832 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u4833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u4833 {
  position:absolute;
  left:244px;
  top:0px;
  width:73px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4834 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
}
#u4835 {
  position:absolute;
  left:317px;
  top:0px;
  width:243px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4836 {
  position:absolute;
  left:2px;
  top:4px;
  width:239px;
  word-wrap:break-word;
}
#u4837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
}
#u4837 {
  position:absolute;
  left:560px;
  top:0px;
  width:162px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4838 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u4839 {
  position:absolute;
  left:722px;
  top:0px;
  width:75px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4840 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u4841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u4841 {
  position:absolute;
  left:797px;
  top:0px;
  width:103px;
  height:24px;
  font-size:12px;
  color:#339900;
}
#u4842 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u4843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4843 {
  position:absolute;
  left:211px;
  top:58px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u4844 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4845 {
  position:absolute;
  left:211px;
  top:83px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u4847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4847 {
  position:absolute;
  left:211px;
  top:108px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u4848 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4849 {
  position:absolute;
  left:211px;
  top:133px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u4850 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u4851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4851 {
  position:absolute;
  left:211px;
  top:158px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u4852 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u4853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4853 {
  position:absolute;
  left:275px;
  top:58px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4854 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4855 {
  position:absolute;
  left:275px;
  top:83px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4856 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4857 {
  position:absolute;
  left:275px;
  top:108px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4858 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4859 {
  position:absolute;
  left:275px;
  top:133px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4860 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4861 {
  position:absolute;
  left:275px;
  top:158px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4862 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u4863 {
  position:absolute;
  left:159px;
  top:83px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u4864 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u4865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u4865 {
  position:absolute;
  left:159px;
  top:108px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u4867 {
  position:absolute;
  left:159px;
  top:133px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u4868 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u4869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u4869 {
  position:absolute;
  left:159px;
  top:158px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4871 {
  position:absolute;
  left:339px;
  top:58px;
  width:257px;
  height:15px;
  font-size:12px;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u4873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4873 {
  position:absolute;
  left:339px;
  top:83px;
  width:257px;
  height:15px;
  font-size:12px;
}
#u4874 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4875 {
  position:absolute;
  left:339px;
  top:108px;
  width:257px;
  height:15px;
  font-size:12px;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4877 {
  position:absolute;
  left:339px;
  top:136px;
  width:257px;
  height:15px;
  font-size:12px;
}
#u4878 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4879 {
  position:absolute;
  left:339px;
  top:161px;
  width:257px;
  height:15px;
  font-size:12px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4881 {
  position:absolute;
  left:32px;
  top:185px;
  width:93px;
  height:15px;
  font-size:12px;
}
#u4882 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u4883 {
  position:absolute;
  left:12px;
  top:184px;
  width:16px;
  height:15px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4885 {
  position:absolute;
  left:211px;
  top:183px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u4886 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u4887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4887 {
  position:absolute;
  left:275px;
  top:183px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4888 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u4889 {
  position:absolute;
  left:159px;
  top:185px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u4890 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4891 {
  position:absolute;
  left:339px;
  top:186px;
  width:257px;
  height:15px;
  font-size:12px;
}
#u4892 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u4893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4893 {
  position:absolute;
  left:606px;
  top:59px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4895 {
  position:absolute;
  left:606px;
  top:84px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u4896 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4897 {
  position:absolute;
  left:606px;
  top:109px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4899 {
  position:absolute;
  left:606px;
  top:134px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4901 {
  position:absolute;
  left:606px;
  top:161px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4903 {
  position:absolute;
  left:606px;
  top:186px;
  width:116px;
  height:15px;
  font-size:12px;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4905 {
  position:absolute;
  left:756px;
  top:59px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4906 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4907 {
  position:absolute;
  left:796px;
  top:59px;
  width:114px;
  height:15px;
  font-size:12px;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
