body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1076px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:77px;
  background:inherit;
  background-color:rgba(0, 58, 111, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12245 {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:77px;
}
#u12246 {
  position:absolute;
  left:2px;
  top:30px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(15, 99, 154, 1) 0%, rgba(15, 99, 154, 1) 0%, rgba(15, 97, 152, 1) 100%, rgba(15, 97, 152, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(15, 99, 154, 1) 0%, rgba(15, 99, 154, 1) 0%, rgba(15, 97, 152, 1) 100%, rgba(15, 97, 152, 1) 100%);
  background:linear-gradient(180deg, rgba(15, 99, 154, 1) 0%, rgba(15, 99, 154, 1) 0%, rgba(15, 97, 152, 1) 100%, rgba(15, 97, 152, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12247 {
  position:absolute;
  left:0px;
  top:77px;
  width:1076px;
  height:35px;
}
#u12248 {
  position:absolute;
  left:2px;
  top:10px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u12249 {
  position:absolute;
  left:4px;
  top:41px;
  width:316px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u12250 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u12251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12251 {
  position:absolute;
  left:13px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12252 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12253 {
  position:absolute;
  left:169px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12254 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12255 {
  position:absolute;
  left:250px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12257 {
  position:absolute;
  left:332px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12258 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12259 {
  position:absolute;
  left:410px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12260 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12261 {
  position:absolute;
  left:486px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12262 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12263 {
  position:absolute;
  left:562px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12265 {
  position:absolute;
  left:641px;
  top:87px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12266 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:892px;
  background:inherit;
  background-color:rgba(229, 237, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12267 {
  position:absolute;
  left:0px;
  top:112px;
  width:1076px;
  height:892px;
}
#u12268 {
  position:absolute;
  left:2px;
  top:438px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12269 {
  position:absolute;
  left:4px;
  top:117px;
  width:177px;
  height:524px;
}
#u12270 {
  position:absolute;
  left:2px;
  top:254px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:878px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12271 {
  position:absolute;
  left:181px;
  top:117px;
  width:895px;
  height:878px;
}
#u12272 {
  position:absolute;
  left:2px;
  top:431px;
  width:891px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:29px;
  background:inherit;
  background-color:rgba(233, 240, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12273 {
  position:absolute;
  left:4px;
  top:117px;
  width:172px;
  height:29px;
}
#u12274 {
  position:absolute;
  left:2px;
  top:6px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12275 {
  position:absolute;
  left:16px;
  top:124px;
  width:63px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12276 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12277 {
  position:absolute;
  left:151px;
  top:124px;
  width:17px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12278 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:26px;
  background:inherit;
  background-color:rgba(239, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12279 {
  position:absolute;
  left:4px;
  top:146px;
  width:172px;
  height:26px;
}
#u12280 {
  position:absolute;
  left:2px;
  top:5px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u12281 {
  position:absolute;
  left:13px;
  top:149px;
  width:17px;
  height:19px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12283 {
  position:absolute;
  left:36px;
  top:151px;
  width:89px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12284 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u12285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:29px;
  background:inherit;
  background-color:rgba(239, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12285 {
  position:absolute;
  left:181px;
  top:117px;
  width:895px;
  height:29px;
}
#u12286 {
  position:absolute;
  left:2px;
  top:6px;
  width:891px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12287 {
  position:absolute;
  left:732px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12288 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12289 {
  position:absolute;
  left:90px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12290 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12291 {
  position:absolute;
  left:23px;
  top:124px;
  width:90px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12292 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:26px;
  background:inherit;
  background-color:rgba(239, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12294 {
  position:absolute;
  left:4px;
  top:172px;
  width:172px;
  height:26px;
}
#u12295 {
  position:absolute;
  left:2px;
  top:5px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u12296 {
  position:absolute;
  left:147px;
  top:178px;
  width:19px;
  height:17px;
}
#u12297 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u12298 {
  position:absolute;
  left:13px;
  top:176px;
  width:17px;
  height:19px;
}
#u12299 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12300 {
  position:absolute;
  left:38px;
  top:176px;
  width:87px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12301 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u12302 {
  position:absolute;
  left:32px;
  top:201px;
  width:142px;
  height:144px;
}
#u12302_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:148px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12303 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:149px;
}
#u12304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
}
#u12304 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
  text-align:left;
}
#u12305 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u12306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12306 {
  position:absolute;
  left:0px;
  top:32px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12307 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u12308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12308 {
  position:absolute;
  left:0px;
  top:60px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12309 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u12310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12310 {
  position:absolute;
  left:0px;
  top:88px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12311 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u12312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12312 {
  position:absolute;
  left:0px;
  top:116px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12313 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u12314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:134px;
}
#u12314 {
  position:absolute;
  left:24px;
  top:200px;
  width:1px;
  height:133px;
}
#u12315 {
  position:absolute;
  left:2px;
  top:58px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12316 {
  position:absolute;
  left:24px;
  top:216px;
  width:11px;
  height:1px;
}
#u12317 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:26px;
  background:inherit;
  background-color:rgba(239, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12319 {
  position:absolute;
  left:4px;
  top:379px;
  width:172px;
  height:26px;
}
#u12320 {
  position:absolute;
  left:2px;
  top:5px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u12321 {
  position:absolute;
  left:13px;
  top:383px;
  width:17px;
  height:19px;
}
#u12322 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12323 {
  position:absolute;
  left:38px;
  top:383px;
  width:87px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12324 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u12325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12325 {
  position:absolute;
  left:149px;
  top:384px;
  width:17px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12326 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u12327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u12327 {
  position:absolute;
  left:147px;
  top:152px;
  width:19px;
  height:17px;
}
#u12328 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12329 {
  position:absolute;
  left:809px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12330 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12331 {
  position:absolute;
  left:809px;
  top:47px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u12332 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(235, 243, 252, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u12333 {
  position:absolute;
  left:895px;
  top:83px;
  width:101px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u12334 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u12335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12335 {
  position:absolute;
  left:26px;
  top:248px;
  width:11px;
  height:1px;
}
#u12336 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12337 {
  position:absolute;
  left:26px;
  top:277px;
  width:11px;
  height:1px;
}
#u12338 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12339 {
  position:absolute;
  left:27px;
  top:305px;
  width:11px;
  height:1px;
}
#u12340 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12341 {
  position:absolute;
  left:28px;
  top:332px;
  width:11px;
  height:1px;
}
#u12342 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:26px;
  background:inherit;
  background-color:rgba(239, 244, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(184, 208, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12344 {
  position:absolute;
  left:3px;
  top:405px;
  width:172px;
  height:26px;
}
#u12345 {
  position:absolute;
  left:2px;
  top:5px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u12346 {
  position:absolute;
  left:12px;
  top:409px;
  width:17px;
  height:19px;
}
#u12347 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12348 {
  position:absolute;
  left:37px;
  top:409px;
  width:87px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12349 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u12350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12350 {
  position:absolute;
  left:148px;
  top:410px;
  width:17px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12351 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u12352 {
  position:absolute;
  left:30px;
  top:435px;
  width:142px;
  height:139px;
}
#u12352_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:148px;
  height:145px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12353 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:144px;
}
#u12354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
}
#u12354 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
  text-align:left;
}
#u12355 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u12356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12356 {
  position:absolute;
  left:0px;
  top:27px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12357 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u12358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12358 {
  position:absolute;
  left:0px;
  top:55px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12359 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u12360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12360 {
  position:absolute;
  left:0px;
  top:83px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12361 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u12362 {
  position:absolute;
  left:0px;
  top:111px;
  width:142px;
  height:28px;
  text-align:left;
}
#u12363 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:73px;
}
#u12364 {
  position:absolute;
  left:21px;
  top:433px;
  width:1px;
  height:72px;
}
#u12365 {
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12366 {
  position:absolute;
  left:21px;
  top:449px;
  width:11px;
  height:1px;
}
#u12367 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12368 {
  position:absolute;
  left:23px;
  top:476px;
  width:11px;
  height:1px;
}
#u12369 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12370 {
  position:absolute;
  left:23px;
  top:504px;
  width:11px;
  height:1px;
}
#u12371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12372 {
  position:absolute;
  left:24px;
  top:532px;
  width:11px;
  height:1px;
}
#u12373 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12374 {
  position:absolute;
  left:24px;
  top:560px;
  width:11px;
  height:1px;
}
#u12375 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u12376 {
  position:absolute;
  left:21px;
  top:587px;
  width:11px;
  height:1px;
}
#u12377 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:319px;
  background:inherit;
  background-color:rgba(235, 240, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(180, 210, 211, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12378 {
  position:absolute;
  left:182px;
  top:146px;
  width:809px;
  height:319px;
}
#u12379 {
  position:absolute;
  left:2px;
  top:152px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:32px;
  background:inherit;
  background-color:rgba(235, 240, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(180, 210, 211, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12380 {
  position:absolute;
  left:182px;
  top:146px;
  width:809px;
  height:32px;
}
#u12381 {
  position:absolute;
  left:2px;
  top:8px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(232, 239, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12382 {
  position:absolute;
  left:191px;
  top:155px;
  width:102px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12383 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u12384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12384 {
  position:absolute;
  left:199px;
  top:196px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u12385 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12386 {
  position:absolute;
  left:323px;
  top:190px;
  width:89px;
  height:21px;
  font-size:12px;
}
#u12387 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u12388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:32px;
  background:inherit;
  background-color:rgba(235, 240, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(180, 210, 211, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12388 {
  position:absolute;
  left:182px;
  top:383px;
  width:809px;
  height:32px;
}
#u12389 {
  position:absolute;
  left:2px;
  top:8px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(232, 239, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12390 {
  position:absolute;
  left:191px;
  top:392px;
  width:102px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12391 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u12392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12392 {
  position:absolute;
  left:199px;
  top:239px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u12393 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12394 {
  position:absolute;
  left:199px;
  top:285px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u12395 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12396 {
  position:absolute;
  left:323px;
  top:234px;
  width:269px;
  height:21px;
}
#u12396_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u12397 {
  position:absolute;
  left:323px;
  top:285px;
  width:131px;
  height:30px;
  font-size:12px;
  color:#FF0000;
}
#u12398 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12399 {
  position:absolute;
  left:602px;
  top:233px;
  width:86px;
  height:21px;
}
#u12400 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u12401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 149, 183, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12401 {
  position:absolute;
  left:868px;
  top:357px;
  width:41px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12402 {
  position:absolute;
  left:2px;
  top:3px;
  width:37px;
  word-wrap:break-word;
}
#u12403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 149, 183, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12403 {
  position:absolute;
  left:919px;
  top:357px;
  width:41px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12404 {
  position:absolute;
  left:2px;
  top:3px;
  width:37px;
  word-wrap:break-word;
}
#u12405 {
  position:absolute;
  left:199px;
  top:208px;
  width:541px;
  height:476px;
  overflow:hidden;
  visibility:hidden;
}
#u12405_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:476px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12405_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:468px;
}
#u12406 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:468px;
}
#u12407 {
  position:absolute;
  left:2px;
  top:226px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u12408 {
  position:absolute;
  left:501px;
  top:6px;
  width:16px;
  height:14px;
}
#u12409 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12410 {
  position:absolute;
  left:28px;
  top:122px;
  width:439px;
  height:100px;
}
#u12411 {
  position:absolute;
  left:2px;
  top:42px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
